/*PC*/
@media (min-width: 1024px) {

}
 /*Tablet*/
 @media (min-width: 740px) and (max-width: 1023px) {

}
/*Table & Moblie*/
@media (max-width: 1032px) {
    .btn {
        padding: 15px 16px;
    }
    #nav .subnav a {
        padding: 5 12px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    .contact-infor {
        font-size: 18px;
        line-height: 2;
    }
    #footer .social a{
        font-size: 40px;
        margin: 0 8px;
    }
    #footer .coppyright a{
        padding: 12 0px;
        display: inline-block;
    }
}
 /*Mobile*/
 @media (max-width: 740px) {
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    
    }
    #nav > li:first-child { /*gọi thẻ con đầu tiên */
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
        
    }
    #nav .subnav a{
        color: #fff;
        padding: 5 41px;
    }
    #header{
        overflow: hidden;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn {
        display: none;
    }
    #nav {
        display: block;
    }
    .s-full-width,
    .s-col-full {
        
        width: 100% !important;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }
    #content .member-img {
        width: 60%;
    }
    .contact-form {
        margin-top: 32px;
        line-height: 2;
    }
    
 }