/*Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*
Làm từ tổng quan đến chi tiết 
Làm từ ngoài vào trong, từ trên xuống dưới
1. Ví trị 
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/

.clear {
    clear: both;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.mt-32 {
    margin-top: 32px;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.text-center{
    text-align: center !important;
}
.column {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.column-third {
    width: 33.3333%;
}

.column-half {
    width: 50%;
}
.column-full {
    width: 100%;
}
.pull-right {
    float: right;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
   
    
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
    
}

#nav > li {
    display: inline-block;

}

#nav li {
    position: relative;
}


#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    display: block;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    
    
    
}
#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover  a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);

}
#nav .subnav a {
    color: black;
    
    line-height: 38px;
    display: block;
   
    
}
#nav .nav-arrow-down {
    font-size: 14px;
}
#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}
#header .mobile-menu-btn{
   position: absolute;
   top: 0;
   right: 0;
   display: none;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
} 
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
/*#header .mobile-menu-btn:hover .menu-icon{
    background-color: #000;
}*/


#header .menu-icon, 
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    /*left: 50%;
    transform: translateX(-50%);*/
    text-align: center;
    width: 100%;
    font-style: normal;
}

#slider .text-heading {
    font-size: 24px;
    font-weight: 500;

}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;


}
#content {
    
}
#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-right: 16px;
    padding-left: 16px;
    
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 4px;
}
.content-section .content {
    background-color: #fff;
    color: #000;
}
#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;
}

#content .member-list {
    margin-top: 32px;
    


}
#content .member-name {
    font-size: 15px;
  
}
#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}


.tour-section {
    background-color: black;
    color: #fff;

}
.tickets-list {
    background-color: #fff;
    color: black;
    margin-top: 40px;
    list-style: none;
}
.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border: 1px solid #ddd;
}
.tickets-list .sold-out {
   padding: 3px 4px;
   margin-left: 16px;
   background-color: #f44336;
   color: #fff

}

.tickets-list .quanlity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 24px;
    margin-top: -3px;

}

.places-list{
   margin-top: 16px;

}

.place-img{
    width: 100%;
    display: block;

}
.place-img:hover {
    opacity: 0.6;
}
.place-body{
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
    color: black;
}
.place-heading{
    font-size: 15px;

}
.place-time{
    margin-top: 15px;
    color: #757575

}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;

}
.btn{
    color: #fff;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}
.btn:hover{
    color: #000;
    background-color: #757575;
    cursor: pointer;
}
/*Contact from*/
.contact-contact {
    margin-top: 48px;
}
.contact-infor {
    font-size: 18px;
    line-height: 1.5;
}
.contact-infor i{
    width: 30px;
    display: inline-block;
}
.contact-infor a:hover{
    color: #36345a;
}
.contact-form {
    font-size: 15px;

}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.map-section img {
    width: 100%;
}
#footer {
    padding: 64px 16px;
    text-align: center;
    

}
#footer .social {
    font-size: 24px;

}
#footer .social a {
    color: #222020;
    text-decoration: none;
}
#footer .coppyright a:hover,
#footer .social a:hover {
    color: #ccc;
}
#footer .coppyright a {
    margin-top: 15px;
    color: #222020;
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left:  0;
    background: rgba(0,0,0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open {
    display: flex;
}

.modal-container{
    background: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100%-32px);
    color: #000;
    position: relative;
    animation: modalFadeIn ease 0.3s;
    
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}


.modal-heading-icon {
    margin-right: 16px;

}
.ti-close {
    position: absolute;
    right: 0;
    top: 0;
    color:#fff;
    padding: 12px;
    opacity: 0.8;

}
.ti-close:hover{
    opacity: 1;
    
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets{
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
.modal-footer{
    padding: 16px;
    text-align: right;
    
}
.modal-footer a {
    color: #009688;
}
@keyframes modalfadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
    
}
 